 body {
 background-color: #F3E3C3;
 color: brown; 
 font-family: 'georgia'
 sans-serif;
 }
 .mydiv {
 background-color: #FBE7A1;
 padding: 20px;
 border-radius: 10px 50px;
 box-shadow: 0 0 30px
 rgba(0,0,0,1.5);
 max-width: 400px;
 margin-top: 40px;
 margin: auto;
 text-align: center;
 height: 300px;
 }

 label { 
 display: block; 
 font-weight: bold; 
 }
 input, select {
 width: 50%;
 padding: 3px;
 margin: 4px;
 border-radius: 7px;
 border: 2px solid #ccc;
 }
 #submit {
 max-width: 10%; 
 width: 10%;
 margin: auto;
 display: flex;
 justify-content: center; 
 }
 #sub {
 cursor: pointer;
 padding: 10px 0px;
 display: flex;
 justify-content: center; 
 border: none;
 border-radius: 15px;
 background-color: #FBE7A1;
 color: #EB5406;
 
 }
 .button {
 background: brown;
 color: white;
 padding: 15px; 
 display: flex;
 justify-content: flex-end; 
 background-image: linear-gradient(to bottom, brown, #EB5406) !important;
 }
 button {
 background: white;
 padding: 10px;
 cursor: pointer;
 }
 button:hover {
 background: #FBD5AB;
 color: brown;
 }
 .myfooter {
 height: 300px; 
 background-image: linear-gradient(to right, brown, #EB5406);
 }
 .list li, .list a {
 display: inline-block;
 margin-left: 50px;
 padding: 5px;
 color: white;
 border: 1px solid #EB5406;
 border-radius: 0 10px 0 10px;
 }
 .list {
 padding: 90px;
 text-align: center;
 }
 .sub1 a, .list a, .logo a {
  background: #EB5406;
 text-decoration: none;
  color: white;
 }
 .myimg {
 background-image: url('aacimg2.jpeg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 500px;
 width: 100%;
 }
 .myimg b {
 color: white;
 font-size: 70px;
 display: flex;
  justify-content: center;
  align-items: center;
 height: 60vh;
 font-family: 'georgia', 
 sans-serif;
 animation: myAnime 5s linear 6 normal;
}
 /* Animation Keyframes*/
 @keyframes myAnime {
      from {
  color: #F3E3C3;
  transform: 
 translateY(0);
     }
      to {
 color: #EB5406;
 transform: 
translateY(-15px);
     }
}
 .sub1 ul, .sub1 li, .sub1 a {
 box-sizing: border-box;
 display: flex;
 justify-content: flex-start;
 gap: 10px;
 padding: 5px;
 flex-wrap: wrap;
 border-radius: 4px;
 margin-right: 25px;
}
 .sub1 li, .sub1 a:hover {
 color:  #EB5406;
 background: white;
}
 .sub1 li {
 background: #F3E3C3; 
}
 .container {
 background: #EB5406;
}
 
 .logo {
 background: white;
 color: #EB5406;
}
 .logo a {
 padding: 6px;
 display: flex;
width: 10%;
  flex-direction: column;
   gap: 0;
}
 #portals {
 visibility: hidden;
}
 .logo a:hover {
 background: #F3E3C3;
 color: #EB5406;
}
 .sub1 li, .list li, .logo li {
 list-style-type: none;
}
  #google-menu {
     
 font-size: 38px;
     
 color: #f44336;
 
cursor: pointer;   
}

  
  
 #font { 
 color: white;
 text-align: center;
}
 @media (max-width: 500px) {
  
.sub1 {
   
 width: 50%;   
  
}

  
 .sub1 ul, .sub1 li, .sub1 a {
   
 font-size: 14px;  
 max-width: 60%; 
}